.block {
  display: flex;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border: 3.5px solid rgba(99, 96, 96, 0.15);
  border-radius: 7px;
}

.img {
  width: 300px;
  height: 236px;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 234px;
  height: 20px;
}

.date {
  width: 56px;
  height: 15px;
}

.description {
  margin-top: 17px;
  width: 100%;
  height: 60px;
}

.technology {
  width: 100%;
  height: 30px;
}