.technology {
  margin-top: 25px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
  margin-top: 10px;
}

.card {
  cursor: pointer;
  width: 100%;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.05);
    transition-duration: 1s;
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 600;
}

.icon {
  margin-left: 10px;
  font-size: 30px;
}

.details {
  margin-top: 15px;
}

.link {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .title {
    font-size: 20px;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .text {
    font-size: 12px;
  }

  .icon {
    font-size: 26px;
  }

  .link {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 18px;
  }
}

@media (max-width: 667px) {
  .title {
    font-size: 16px;
  }

  .list {
    grid-gap: 18px;
  }
}

@media (max-width: 428px) {
  .list {
    grid-gap: 14px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 14px;
  }

  .list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}