.technology {
  margin-top: 25px;
  line-height: 32px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #4385d7;
}

.icon {
  margin-right: 10px;
}

.list {
  margin-top: 10px;
}

.text {
  font-size: 19px;
}

.info {
  margin-top: 20px;
  font-size: 19px;
}