.empty {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.icon {
  font-size: 100px;
}

.description {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}