.navigate {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.link {
  display: flex;
  align-items: center;
  color: #a8adb2;
}

.link:hover {
  color: #fff;
}

.link:not(:first-child) {
  margin-left: 25px;
}

.icon {
  font-size: 30px;
}

.icon:not(:first-child) {
  margin-left: 10px;
}

.text {
  margin-left: 5px;
  font-size: 18px;
}