.description {
  margin-top: 25px;
  line-height: 32px;
}

.text {
  font-size: 19px;
}

.text:not(:first-child) {
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .text {
    font-size: 17px;
  }
}

@media (max-width: 1024px) {
  .description {
    line-height: 27px;
  }

  .text {
    font-size: 15px;
  }
}

@media (max-width: 667px) {
  .text {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .text {
    font-size: 12px;
  }
}