.about {
  margin: 65px 0 80px;
}

.title {
  font-size: 34px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width: 667px) {
  .about {
    margin: 45px 0;
  }

  .title {
    font-size: 28px;
  }
}

@media (max-width: 428px) {
  .about {
    margin: 35px 0;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 26px;
  }
}