.container {
  margin: 0 244.5px;
  padding: 24px 23.2px;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 144.5px;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0 94.5px;
  }
}

@media (max-width: 667px) {
  .container {
    margin: 0 64.5px;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 0 14.5px;
  }
}

@media (max-width: 360px) {
  .container {
    margin: 0;
  }
}