.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 40px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    padding: 0;
  }
}