.why {
  margin-top: 25px;
  line-height: 32px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.list {
  margin-top: 10px;
}

.text {
  font-size: 19px;
}