.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .img {
    width: 130px;
    height: 130px;
  }
}