.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a8adb2;
}

.link:hover {
  color: #4385d7;
}

.text {
  margin-left: 5px;
}