.pagination {
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 32px;
      line-height: 29px;
      height: 32px;
      border: 1px solid #4385d7;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #fff;

      &:hover {
        background-color: #4385d7;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #4385d7;
        color: #fff;
      }
    }
  }
}